
@{
    ViewBag.Title = "Bostader";
}

@*<div style="height:400px;
                          width:100%;
                          overflow: hidden;">
        <img src="~/Images/nature-landscapes_hdwallpaper_blue_3180.jpg" style="position:relative;bottom:200px;" class="text-center">
    </div>
    <div class="imgcontainer">
        <div class="image-wide img-responsive"></div>

    </div>*@
<div class="topcontent">
    <header id="top">
        <div class="imgcontainer">
            <img src="/Images/nature-landscapes_hdwallpaper_blue_3180.jpg" class="text-center image-wide">
        </div>
    </header>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sub-nav">
                    <ul class="sub-nav-ul">
                        <li><a href="/sv/bostader/"><span class="glyphicon glyphicon-arrow-up"></span> Bostäder</a></li>
                        <li><a href="/sv/bostader/lediga-bostader/" class="">Lediga bostäder</a></li>
                        <li><a href="/sv/bostader/nyproduktion/" class="active">Nyproduktion</a></li>
                        <li><a href="/sv/bostader/parkering/" class="">Parkering</a></li>
                        <li><a href="/sv/bostader/vara-omraden/" class="">Våra områden</a></li>
                        <li><a href="/sv/bostader/for-vara-hyresgaster/" class="">För våra hyresgäster</a></li>
                        <li><a href="/sv/bostader/felanmalan/" class="">Felanmälan</a></li>
                        <li><a href="/sv/bostader/kundservice/" class="">Kundservice</a></li>
                        <li><a href="/sv/bostader/mina-sidor/" class="">Mina Sidor</a></li>
                    </ul>
                </div>


            </div>
            <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0">
                <div class="page-header-content">


                    <h1 class="page-headline">Nyproduktion</h1>
                    <div class="page-preamble block-item-medium">
                        <p>Här hittar du information om och intresseanmälningar till våra nyproducerade lägenheter.</p>
                        <p>Övriga lediga lägenheter i Stockholm söker du via <a href="https://bostad.stockholm.se/" target="_blank">Bostadsförmedlingen </a>och i&nbsp;Göteborg&nbsp;via <a href="https://nya.boplats.se/" target="_blank">Boplats</a>.</p>
                        <p>I sorteringsfunktionen nedan kan du välja stad och typ av lägenhet med mera.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div style="background-color:yellowgreen;">
            <h1 id="filter">
                Filter here
            </h1>
        </div>

        <br><br>
        <div class="container">
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>1</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>2</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>3</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>4</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>1</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>2</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>3</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="thumbnail" style="border-radius: 15px;">
                    <img src="/images/Husvastbostad.jpg" alt="Generic placeholder thumbnail" class="img-responsive" style="border-radius: 10px;">
                    <div class="caption">
                        <h3>4</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>