
@{
    ViewBag.Title = "Home";
}


<div class="content">
    <header id="top">
        <div class="img-responsive" style="max-height:400px; overflow: hidden;">
            <img src="~/Images/nature-landscapes_hdwallpaper_blue_3180.jpg" class="text-center img-responsive">
        </div>
    </header>

    <div class="container">
        <h2>Home</h2>



        <div class="row">
            <div class="col-md-11">
                <div class="col-md-4"><img class="img-responsive" src="https://stebrastorage.blob.core.windows.net/photos/public_parrot.jpg" alt="public_parrot.jpg" style="margin:5px;" /></div>
                
                <div class="col-md-8">
                    <h2>Hälsningar från Göteborg!</h2>
                    <p><i>11/25/2015 </i></p><div><p><i>&#8203;Ingress - texten<br></i></p></div><p></p>
                    <p>
                    </p><div><p>&#8203;En fin eftermiddag i göteborg med ett fint möte med Västbostad. Vi fick ut väldigt mycket utav det mötet. Kan bli något i snar framtid såsom en hemsida eller något i den stilen.<br><br><br><br></p></div>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-11">
                <div class="col-sm-4"><img class="img-responsive" src="https://stebrastorage.blob.core.windows.net/photos/20151123001234.jpg" alt="20151123001234.jpg" style="margin:5px;"></div>

                <div class="col-sm-8">
                    <h2>Teamet rapporterar från Molnet!</h2>
                    <p><i>11/22/2015 </i></p><div><p><i>&#8203;Det har vart en späckad dag med ny aha-upplevelser från molnet, Azure är framtiden!<br></i></p></div><p></p>
                    <p>
                    </p><div><p>&#8203;VI har lärt oss mera om Microsofts mega platfrom - Azure. Hyperscaling: skala brett och upp on demand, bra för tjänster som får traffic-peaks vid några tillfällen men normal trafik annars. Agile: Det går snabbt att få upp virtuella maskiner, det som innan tog månader kan man idag göra på en dag. Insight: Övervaka dina appar genom Azure för att få företagskritisk information. IaaS (Infrastructure&nbsp;as a Service) och PaaS (Platform as a Service)&nbsp;är framtiden och Azure.<br><br><br></p></div>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-11">
                <div class="col-md-4"><img class="img-responsive" src="https://stebrastorage.blob.core.windows.net/photos/11010616_420391838167334_1785776227185833730_n.jpg" alt="11010616_420391838167334_1785776227185833730_n.jpg" style="margin:5px;"></div>

                <div class="col-md-8">
                    <h2>Stebra 2 år</h2>
                    <p><i>11/5/2015 </i></p><div><p><i>&#8203;<span style="color:#141823;font-family:helvetica, arial, sans-serif;font-size:14px;line-height:17.5636px;background-color:#ffffff;">Kom gärna förbi på en fika på vårt nya kontor.</span><br></i></p></div><p></p>
                    <p>
                    </p><div><p></p><p style="margin-bottom:6px;color:#141823;font-family:helvetica, arial, sans-serif;font-size:14px;line-height:17.5636px;background-color:#ffffff;">Vi firar i den nya lokalen på Söder, vår nya adress är Brännkyrkagatan 95. Stebras egna lokal. Vi har precis fått rapporter att vår sharepointapp check-it-in blivit populär i England, vilken födelsedagspresent! Nu ser vi fram emot år tre. <br></p><div><br></div></div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>



